[run]
branch = True
source = src
source_pkgs = streaming
relative_files = True
# partial_branches =
omit =
    **/~*/*
    **/~*
    **/migrations/**
    **/version.py
    **/checks.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    if DEBUG
    if settings.DEBUG:
    if TYPE_CHECKING
    raise NotImplementedError
    pass

ignore_errors = True

[html]
directory = ./~build/coverage
